.boardTicTacToe {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border: 2px solid #333;
  }
  
#header-tic-tac-toe {
  padding:1em;
}

.player {
  color:red;
  font-weight: bolder;
}
  .cell {
    width: 100px;
    height: 100px;
    border: 1px solid #333;
    box-sizing: border-box;
    font-size: 48px;
    text-align: center;
    line-height: 100px;
  }

  .cell-content {
    opacity:0;
  }

  .cell:hover .cell-content {
    display:block;
    opacity:0.5;

  }

  .active {
    background-color: #ffdf66;
    display:block;
    opacity:1;
  }

  .active-computer {
    background-color: #5994aa;
    display:block;
    opacity:1;
  }


  .active .cell-content{
    display:block;
    opacity:1;
  }