body {
    margin:0;
}

header {

    background-color: peru;
    height: 10vh;


}

main {

    background-color:lime;
    height: 80vh;

}

footer {

    background-color: red;
    height:10vh;
}

.son {

    width:50%;
    height:100%;
    border:1px solid white ;

}