.song {
    /* From https://css.glass */
    margin: 0.4em 0;
    width:95vw;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.23);
    transition: all 0.1s ease;
}


.song header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.2em 1em;
    
}

.dropped {
    box-shadow: 0 8px 40px #ffdf66;
}

.played {
    opacity: 0.2;
}



.song .tools-aside {
    
}

.song main {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0 0 16px 16px;
    
}

.song .lyrics{
    padding: 0 18px;
    height:0px;
    overflow: hidden;
    transition: all 2s;
    
}
.song .names {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.song .lyrics.active {
    height:auto;
}

.song .tools-aside .time {
    text-align: right;
    
}

.song h1 {
    font-size:2vw;
    margin:0;
    text-shadow: 1px 1px 2px black;
}

.song h2 {
    font-size:1.5vw;
    margin:0;
}

.song h3 {
    font-size:1vw;
    margin:0;
}

@media screen and (max-width: 760px) {

    header div.names h1 {
        font-size: 
        1rem;
        margin:0;
    }

}