.languages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.language {
    padding: 1rem;
    margin: 1rem;
    background-color: gray;
    width:25%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}