:root {
    --ancho-tarjeta: 25vw;
}


[data-function='arena']{
    display:flex;
    height: auto;
    justify-content: center;
    align-items: center;
}

body {
    margin:0;
    padding:0;
}

.c-characters{
    display: flex;
    align-content: stretch;
    height: 25vh; 
    flex-wrap: wrap;
    background-color: aqua;
    z-index: 999;

}

.c-characters__item{
    width: 20%;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.c-characters__item:hover {
    outline: 4px solid #ffdf66;
    outline-offset: -4px;
    transform: scale(1.2);
    transition:  .2s;
}

.seleccionado-jugador1 {
    outline: 3px solid #2200ff;
    outline-offset: -4px;
    transform: scale(1.2);

}

.seleccionado-jugador2 {
    outline: 3px solid #ff007d;
    outline-offset: -4px;
    transform: scale(1.2);

}

.c-characters__item > h1 {
    color:white;
    text-shadow:1px 1px 1px black;
}

.desaparece {
    transform: translateY(-300px);
    animation: fuera-dentro 0.4s forwards;
    
}

.aparece {
    transform: translateY(0px);
    animation: fuera-dentro 0.4s reverse;
}
@keyframes fuera-dentro {
    from {transform:translateY(0px); height:25vh}
    to {transform:translateY(-300px); height:0}
}

.arena-juego {
    animation: menu-juego 0.4s forwards
}

.arena-menu {
    animation: menu-juego 0.4s reverse
}
@keyframes menu-juego {
    from {height:75vh}
    to {height:100vh}
}


.stats {
    width:85%;
    height: 10%;
    font-size: 1rem;
    background-color:white;
    border-radius: 10px;
    box-shadow: 2px 2px 1px black;
}

img{
    height: 380px;
    max-width: 100%;
}

.tarjeta {
    background-color: transparent;
    max-height: 400px;
    width: var(--ancho-tarjeta);
    height: calc(var(--ancho-tarjeta) * 1.4); /* Calculamos la proporción de altura que debe tener la tarjeta para parecer una de magic*/
    perspective: 1000px; 
    transform: translateY(800px);
}

.entrada {
    transform:translateY(0px);
    animation: entrada 0.6s ease-in-out;
}

.salida {
    transform:translateY(800px);
    animation: salida 0.6s reverse;
}

@keyframes entrada {
    from {transform:translateY(800px)}
    to {transform:translateY(0px)}
}

.tarjeta-contenedor {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
}

.tarjeta-frente, .tarjeta-espalda1, .tarjeta-espalda2 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    
    border-radius: 10px;
}

.tarjeta-frente {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #adceda;
    color: black;
    justify-content: flex-end;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.avatar {
    display: flex;
    justify-content: center;
    width: calc(var(--ancho-tarjeta) * 0.7);
    height:calc(var(--ancho-tarjeta) * 0.5);;
    object-fit: contain;
    overflow: hidden;
    
}

.description {
    width: calc(var(--ancho-tarjeta) * 0.85);
    height: calc(var(--ancho-tarjeta) * 0.5);
    overflow: hidden;
    margin: 1rem 0 0 0;
    padding: 0.4rem;
    background-color: #94b2bd;

}

.tarjeta-espalda1,.tarjeta-espalda2 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.tarjeta-espalda1 {
    display: flex;
    flex-direction: column;
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

.tarjeta-espalda2 {
    display: flex;
    flex-direction: column;
    background-color: crimson;
    color: white;
    transform: rotateY(-180deg);
}



.tarjeta-espalda > h1 {
    display: block;
}

.tarjeta-espalda > p {
    display: block;
}

.tarjeta-trasera-logo {
    width:200px;
    height:auto;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.tarjeta:hover .tarjeta-contenedor {
    transform: rotateY(-180deg);
}


#portada {
    opacity: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    
}
.inicio {
    animation: fadePortada 1s linear forwards;
}




#portada button {
    background-color: #5994aa;
    border: 0;
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 10px;
}

#portada button:active {
    background-color: #385d6b;
    box-shadow: 2px 2px 2px inset;

}

#ataca-jugador1,#ataca-jugador2 {
    border: 0;
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 10px;
}

#ataca-jugador1 {
    
    background-color: #5994aa;
}

#ataca-jugador2{
    
    background-color: crimson;
}

.modal {
    
    display: flex;
    position: fixed; 
    background-color: #5994aaaa;
    justify-content: center;
    align-items: center;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
}

.modal-content {
    background-color: rgba(0,0,0,0);
    margin: 0 auto;
    padding: 20px;
    width: 80%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-ocultar {
    display:none;
}

.espada-izquierda {
    width: 200px;
    height:auto;
    animation: balanceo 2s ease 1s infinite reverse;
}

.espada-derecha {
    width: 200px;
    height:auto;
    animation: balanceo 2s ease 1s infinite ;
}




#jugador-1,#jugador-2 {
    display: flex;
    width: 30%;
    height:100%;
    align-items: center;
    justify-content: center;
    
}

#centro {
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:1rem;
    
}


#centro > span {
    display: block;
    font-size: 3rem;
}

#centro > span.danio-total {
    position:fixed;

    font-size: 8rem;
    color: fuchsia;
}




.golpe-dado{
    width:50px;
    height: 50px;
    background-size:contain;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CLASES DE LOS GOLPES DE LOS DADOS */
.normal {
    color:black;
    font-size: 1rem;
}

.critico {
    color:#f00;
    font-size:2rem;
    text-shadow: 1px 1px 2px #aa0000;
}

.titulo-dado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-dados {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.golpe-vitalidad {
    animation: golpe 1.2s linear; 
}

.golpe-defensa {
    animation: defensa 1.2s linear;
}

@keyframes golpe {
    0% { color: #f00; font-size:1.8rem;}
    100% { color: black;font-size:1rem;}
}

@keyframes defensa {
    0% { color: rgb(29, 153, 255); font-size:1.8rem;}
    100% { color: black;font-size:1rem;}
}

@keyframes balanceo {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-20deg);}
    50% { transform: rotate(20deg);}
    75% { transform: rotate(-10deg);}    
    100% { transform: rotate(0deg);}
}

@keyframes fadePortada {

    0% { opacity: 0;}
    100% { opacity: 1;}
    
}

#rotulo-jugador-1 {
    font-size:3rem;
    color:blue;
}

#rotulo-jugador-2 {
    font-size:3rem;
    color:crimson;
}

.turno {
    background-color: #ffdf66;
}